<h2>File Upload</h2>

<hr>
<label>Select with-ping files</label>
<input type="file" (change)="onSelectedFiles($event, true)" multiple="true">

<hr>
<div>

  <label>Select no-ping files</label>
  <input type="file" (change)="onSelectedFiles($event, false)" multiple="true">
</div>
<div>
  <label>elapsed time (seconds): </label><span [innerText]="counter"></span>
</div>

<hr>
<button (click)="uploadSelectedFiles()">upload all</button>

<hr>
<div class="event-log">
  <label style="display: block;">Event log</label>
  <textarea readonly class="event-log-contents" #eventLog></textarea>
</div>

